@import "../../../css-config/mixins.scss";
.newsletter-section {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    background: #f9f9f9 url("../../../assets/newsletter-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .newsletter-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    }
    .small-text{ 
    margin-bottom: 15px;
    text-transform: uppercase;
    color: Orgba(0, 0, 0, 0.5);
    }
}